# Dependencias
node_modules/

# Compilación
dist/
build/

# Credenciales y Secretos
*.json
!firebase.json
!firestore.rules
!storage.rules

# Variables de entorno
.env
.env.local

# Logs
*.log
npm-debug.log*

# IDEs
.vscode/
.idea/
.DS_Store